* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;;
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://raw.githubusercontent.com/tiffaniall/fga_image/main/bg.jpg);
  background-size: contain;
  color: #00380F;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.9;
  font-size: 60px;
  letter-spacing: 8px;
  margin-bottom: 2px;
  padding-bottom: 5px;
  font-weight: normal;
}

.top-wrapper p {
  opacity: 0.9;
  margin-bottom: 7px;
  color: #00380F;
  font-weight: normal;
  line-height: 30px;
  font-size: 20px;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 8px;
}

.btn:hover {
  opacity: 1;
}

.signup {
  background-color: #EEFFFA;
  color: #00380F;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

/* Gantikan margin-right milik fa ke 5px */
.fa{
  margin-right: 5px;
}


